<h2>Customer Page</h2>
<p>Welcome to the Customer page! Here you can manage your customers and view their details.</p>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Customer List</h5>
        <p class="card-text">Here you can see a list of all your customers.</p>
        <a href="#" class="btn btn-primary">View Customers</a>
    </div>